@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.header{
    width: 100%;
    height: 100vh;
    display: grid;
    position: relative;
    padding: 0px;
    /* background-color:red; */
    grid-template-rows: 20px,1 fr;
    grid-gap: 10px;
    color: rgb(244, 237, 237);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000002a 0%, #0000000d 100%), url('/Images/lampara\ y\ libro.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
    
}

.nav-container{
    /* background-color: blueviolet; */
    
    margin: 0%;

    /* display: grid; */
    /* grid-template-columns: auto,auto; */
    /* grid-template-rows: auto,auto; */
    
}

.section-container{
    height: 100vh;
    padding: 10px;
    
}


.nav-link-menu{
    display: grid;
    /* border: solid darkgray; */
    grid-template-columns: repeat(12,auto);
   
    justify-content: right;
    padding: 0%;
   

}

.menu-item{
    padding-left: 30px;
    margin-right: 10px;
    /* font-weight:700; */
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
   
}







/*---------------------------- Nav Menu ---------------------------*/

.nav-menu{
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.icono-menu-hamb{
    display: block;
    width: 30px;
}

.nav-close{
    display: none;
}

.nav-links{
    text-decoration: none;
    color:#fff;
}

.nav-logo{
    padding-left: 10px;

}

.nav-titulo{
    font-weight: 300;
    /* font-size:x-large; */
}

/* --------------------------------Section ------------------*/

.section-container{
    max-width: 800px;
    --padding-container: 0;
    display: inline-grid;
    grid-auto-rows: max-content;
    align-content:flex-start;
    gap: 1em;
    /* padding-bottom: 100px; */
    text-align: center;
}

.titulo-container{
    font-size: 3rem;
    margin-left: 270px;
    padding-top: 5px;
    margin-top: 0%;
    
}

.parrafo-titulo{
    position: absolute;
    top: 40%;
    padding-right: 800px;
    padding-left: 50px;
    line-height: 40px;
    
}

.fin-titulo{
    padding-top: 200px;
    padding-left: 240px;
    color: black;
    font-weight: 900;
}