@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: rgb(233, 235, 235);
}

.header {
    width: 99vw;
    height: 100vh;
    display: grid;
    position: relative;
    /* padding: 1px; */
    /* max-height: 1200px; */
    grid-gap: 1px;
    color: rgb(244, 237, 237);
    margin: 0%;
}

.header::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000002a 0%, #0000000d 100%), url('/Images/lampara\ y\ libro.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
    margin: 0%;
    padding: 0%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

/*---------------------------- Nav Menu ---------------------------*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    
    display: grid;
    align-items: center;
}

.nav-container {
    margin: 0%;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
    gap: 2em;

}

.menu-item {
    padding-left: 1em;
    margin-right: 0em;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1em;
    padding-top: 0%;
    list-style: none;
}

.nav-menu {
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.icono-menu-hamb {
    display: block;
    width: 30px;
}

.nav-close {
    display: var(--show, none);
}

.nav-links {
    text-decoration: none;
    color: #fff;
}

.nav-logo {
    margin-bottom: 0%;
    margin-left: 0%;
    padding-right: 100px;
    padding-left: 0%;
}

.nav-titulo {
    font-weight: 300;
    margin: 0%;
    /* margin-left: 0, 5em; */
    margin-top: 1%;
}

/* --------------------------------Header Section ------------------*/

.section-container {
    max-width: 100%;
    display: grid;
    grid-auto-rows: max-content;
    text-align: center;
    padding-top: 0%;
    height: 80vh;
    padding: 1%;
}

.titulo-container {
    font-size: 3.2rem;
    padding-bottom: 0%;
    margin-top: 1px;
    margin-bottom: 4%;
}

.section-container>div,
h1 {
    text-align: center;
}

.h1-construye {
    padding-left: 10px;
    margin-left: 10px;
    text-align: start;
    line-height: 40px;
}

.parrafo-titulo {
    padding-top: 1px;
    margin-top: 0%;
    padding-right: 0px;
    margin-right: 0px;
    line-height: 2.5em;
    text-align:end;
    margin-left: 10px;
    overflow: hidden;
}

/*------------------------ Main section ---------------------------------------------------*/

.main {
    display: grid;
}

.fin-titulo {
    font-weight: 900;
    font-size: 3rem;
    padding-top: 1px;
    margin-top: 1px;
    line-height: 85px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 1px;
    color: #000020;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ingreso-estudiante-foto {
    width: 100%;
    display: block;
    position: absolute;
    padding: 0%;
    margin: 0%;
    height:auto;
}

.ingreso-foto {
    margin: 0%;
    padding: 0%;
}

.ingreso-container {
    display: grid;
    grid-template-rows: 300px 30vw 100px;
    grid-template-columns: 50vw 50vw;
    padding: 0%;
    margin: 0;
}

.nuestrobloque {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:33.3vw;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease;
    background-color: #14143e49;
}

.nuestro-container {
    position: relative;
    padding: 0%;
    margin: 0%;
    
}

.nuestrotexto {
    color: white;
    font-size: 7vw;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

.nuestro-container:hover .nuestrobloque {
    opacity: 1;
}

/*------------------------ Diseño section ---------------------------------------------------*/

.diseños-container {
    display: grid;
    position: relative;
    grid-template-rows: 300px 1fr;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.diseño-titulo {
    font-weight: 900;
    font-size: 3rem;
    color: #000020;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.diseño-columnas {
    display: grid;
    column-gap: 0px;
    grid-template-columns: 49.5vw 50vw;
    margin-right: 0%;
    overflow: hidden;
    
}

.diseño-video {
    margin: 0%;
    padding: 0%;

}

.div-video{
    width:675px;
}

.diseño-texto {
    color: rgb(244, 237, 237);
    font-size: 4vmin;
    height: 380px;
    margin: 0%;
    background-image: url(/Images/fractal-g4bf7ed564_640.jpg);
    line-height: 10vmin;
    padding-right: 200px;
    padding-top: 0px;
    text-align: center;
}

.cta {
    display: inline-block;
    background-color: #6b9dcc;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    position: absolute;
    margin-top: 45vmin;
    margin-left: 70vmin;
}

/*------------------------ Cards section ---------------------------------------------------*/

.container__cards {
    margin-top: 0px;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    margin-bottom: 100px;
}

.card {
    width: 300px;
    margin: 0px;
    transition: all 300ms;
}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img {
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all 400ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .img__back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back {
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back {
    background-image: url(../images/bg3.jpg);
}

.card:hover .img__back {
    bottom: -40px;
}

.card .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description {
    padding: 40px;
}

.card .description h2 {
    margin-top: 10px;
}

.card .description p {
    margin-top: 10px;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover {
    background: #83277b;
}


/* --------------------------------Footer----------------------------- */

.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 50px;
}


.ctaEventos {
    display: inline-block;
    background-color: #6b9dcc;
    justify-self: center;
    margin-left:200px;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    cursor: pointer;
}

.tarjeta{
    display: inline-flex;
    justify-content: flex-start;
    text-align: start;
    padding: 10px;
    border: solid 1px white;
    
}



/*-----------------------Media Query ---------------------------------*/

@media (max-width:900px){
    
    .nav-menu{
        display: block;
        /* margin-bottom: 180px; */
    }

    .icono-menu-hamb{
        /* margin-bottom: 50px; */
        position: absolute;
        top: 3%;
        right: 3%;
    }
    
    .nav-link-menu{
        display: block;
   
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav-link-menu--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }
    .nav-close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .h1-construye {
        font-size: 2.5vw;
    }
    
    .parrafo-titulo {
        font-size: 2.5vw;
    }
}


@media only screen and (max-width: 900px) {

    /* For mobile phones: */
    .diseño-columnas {
        grid-template-columns: 100%;
        justify-content: center;
      
    }
    .div-video{
        width: 100%;
    }
    .diseño-texto{
        text-align: center;
        padding-top: 40px;
        padding-right: 100px;
        padding-bottom: 30px;
        margin-top: 0%;
        height:55vw;
    }
    .diseño-video{
        height: 54vw;
    }
   
}

@media only screen and (max-width: 950px){

    .container__cards{
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
    column-gap: 30px;
   }
   .ultima-card{
   column-gap: 300px;
   }
}


@media only screen and (max-width: 650px) {

    /* For mobile phones: */
    .container__cards {
        grid-template-columns: 100%;
        justify-content: center;
    }
    .parrafo-titulo{
        text-align: start;
       padding-right: 10px;
      
       font-size: 1rem;
    }
    .h1-construye{
        font-size: 1rem;
    }
    .titulo-container{
        margin-bottom: 60px;
    }
    
}

@media (max-width:800px){
   
    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }
    }

    @media (max-width:600px){

        .footer__title{
            justify-self: start;
            margin-bottom: 15px;
        }
    
        .nav--footer{
            padding-bottom: 60px;
        }
    
        .nav__link--footer{
            justify-content: space-between;
        }
    
        .footer__inputs{
            flex-wrap: wrap;
        }
    
        .footer__input{
            flex-basis: 100%;
            margin: 0;
            margin-bottom: 16px;
        }
    
        .footer__submit{
            margin-right: auto;
            margin-left: 0;
            
    
          
        }
    }




/* ------------------------- Eventos-------------------------------*/

:root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: rgb(127, 195, 255);
    --tipo-principal: Helvetica, Arial, sans-serif;
  }
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
      --blanco: #303030;
      --sombra-ppal: #242424;
      --sombra-sec: #3c3c3c;
      --borde-negro: #FFFFFF50;
    }
  }
  body {
    margin: 0;
  }
  
  .carousel {
    width: 99.2vw;
    height: 85vh;
    /* margin-top: 1px; */
    position:relative;
    margin-top: 0px;
    margin: 0%;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  
    margin-left: 0%;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0%;
    overflow: hidden;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }


  .ctaEventos {
    display: inline-block;
    background-color: #6b9dcc;
    justify-self: center;
    margin-left:200px;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    cursor: pointer;
}

.tarjeta{
    display: inline-flex;
    justify-content: flex-start;
    text-align: start;
    padding: 10px;
    /*border: solid 1px white;*/
    
}

.contenido{
    display: flex;
}

/*---------------------------Formulario de Contacto----------------------------------------*/

.header-b {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
    
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

  




