@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: rgb(200, 200, 210);
}



.header {
    width: 98%;
    height: 100vh;
    display: grid;
    position: relative;
    padding: 13px;

   
    min-height: 600px;
    max-height: 800px;
    
    /* grid-template-rows: 100px 1fr; */
   

    grid-template-rows: 60px 1fr 60px;
    grid-gap: 10px;
    color: rgb(244, 237, 237);
    /* background-color: aqua; */
    margin: 0%;
}

.header::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000002a 0%, #0000000d 100%), url('/Images/lampara\ y\ libro.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
    margin: 0%;
    padding: 0%;

    content: "";
    position: absolute;
    top: 0;
    left: 0;
   

}

/*---------------------------- Nav Menu ---------------------------*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
    
}

.nav {
    
    display: grid;
    align-items: center;
    grid-template-rows: auto,auto;
}

.nav-container {
    margin: 0%;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.menu-item {
    padding-left: 2em;
    margin-right: 1em;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    padding-top: 0%;
    list-style: none;
}

.nav-menu {
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.icono-menu-hamb {
    display: block;
    width: 30px;
}

.nav-close {
    display: var(--show, none);
}




.nav-links {
    text-decoration: none;
    color: #fff;
}

.nav-logo {
    padding-left: 1em;
    margin-bottom: 0%;
}

.nav-titulo {
    font-weight: 300;
    margin: 0%;
    margin-left: 0, 5em;
    margin-top: 1%;
}

/* --------------------------------Header Section ------------------*/

.section-container {
    max-width: 100%;
    display: grid;
    grid-auto-rows: max-content;
    text-align: center;
    padding-top: 0%;
    height: 80vh;
    padding: 1%;

}

.titulo-container {
    font-size: 3.5rem;
    padding-bottom: 20px;
    margin-top: 1px;
}

.section-container>div,
h1 {
    text-align: center;
}

.section-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.h1-construye {
    padding-left: 10px;
    margin-left: 10px;
    text-align: start;
    /* line-height: 40px; */
}

.parrafo-titulo {
    padding-top: 18px;
    padding-right: 0px;
    margin-right: 5px;
    line-height: 40px;
}

/*------------------------ Main section ---------------------------------------------------*/

.main {
    display: grid;
    grid-template-rows: 800px 900px 1fr;
}

.fin-titulo {
    font-weight: 900;
    font-size: 3.5rem;
    padding-top: 1px;
    margin-top: 1px;
    /* padding-left: 90vh; */
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 1px;
    color: #000020;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingreso-estudiante-foto {
    width: 100%;
    display: block;
    padding: 0%;
    margin: 0%;
    height: auto;
}

.ingreso-foto {
    margin: 0%;
    padding: 0%;
}

.ingreso-container {
    display: grid;
    grid-template-rows: 300px 350px 500px;
    grid-template-columns: 50% 50%;
    padding: 0%;
    margin: 0;

}

.nuestrobloque {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height:450px; */
    width: 100%;
    opacity: 0;
    transition: 1.5s ease;
    background-color: #14143e49;
}

.nuestro-container {
    position: relative;
    padding: 0%;
    margin: 0%;
}

.nuestrotexto {
    color: white;
    font-size: 7vw;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

.nuestro-container:hover .nuestrobloque {
    opacity: 1;
}

/*------------------------ Diseño section ---------------------------------------------------*/

.diseños-container {
    display: grid;
    position: relative;
    /* grid-template-columns: 400px auto; */
    grid-template-rows: 500px 1fr;
    /* background-color:aqua; */
    /* border: 5px solid  yellow; */
    width: 100%;
    /* height: 600px; */
    margin: 0%;
    /* padding-top: 200px; */
}

.diseño-titulo {
    font-weight: 900;
    font-size: 3.5rem;
    color: #000020;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 150px; */
    line-height: 100px;

}

.diseño-columnas {
    display: grid;
    /* position: relative; */
    grid-template-columns: 50% 50%;
    column-gap: 0px;
    /* height: 330px; */
}

.diseño-video {
    margin: 0%;
    padding: 0%;

}

.diseño-texto {
    color: rgb(244, 237, 237);
    /* background-color: #040413ee; */
    font-size: 4vmin;
    /* font-size: 2em; */
    height: 380px;
    margin: 0%;
    background-image: url(/Images/fractal-g4bf7ed564_640.jpg);
    line-height: 10vmin;
    padding-right: 200px;
    padding-top: 5px;
    text-align: center;
}

.cta {
    display: inline-block;
    background-color: #6b9dcc;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
    position: absolute;
    margin-top: 45vmin;
    margin-left: 70vmin;
}

/*------------------------ Cards section ---------------------------------------------------*/

.container__cards {
    /* max-width: 1200px; */
    /* margin: auto; */
    margin-top: 0px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content:right; */
    justify-items: center;
    justify-content: center;
    /* align-items: end; */
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
}

.card {
    width: 300px;
    /* margin: 10px; */
    margin: 0px;
    transition: all 300ms;

}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img {
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all 400ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .img__back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back {
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back {
    background-image: url(../images/bg3.jpg);
}

.card:hover .img__back {
    bottom: -40px;
}

.card .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description {
    padding: 40px;
}

.card .description h2 {
    margin-top: 10px;
}

.card .description p {
    margin-top: 10px;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover {
    background: #83277b;
}

/*-----------------------Media Query ---------------------------------*/


@media (max-width:800px){
    
    .nav-menu{
        display: block;
    }
    
    .nav-link-menu{
        display: block;
   
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav-link-menu--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }
    .nav-close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .main {
        grid-template-rows: 350px 1500px 1fr;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .diseño-columnas {
        grid-template-columns: 100%;
        justify-content: center;

    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .container__cards {
        grid-template-columns: 100%;
        justify-content: center;
    }
}